# Edit pyproject.toml only; refresh this file with: commands update_config --package-name xwentity
# Source size (src/*): ~205.8 KB
exonware-xwsystem==0.9.0.39
exonware-xwaction==0.9.0.12
exonware-xwnode==0.9.0.25
exonware-xwschema==0.4.0.12

google
